// == buttons
//
// Базовые определения для описания кнопок.
//
// Размер внутреннего отступа кнопок определяется переменной `buttons-padding`.
//
// Рекомендуется использовать относительные размеры, ориентируясь на
// используемые размеры шрифты и высоту строки.
//
// -----------------------------------------------------------------------------
buttons-padding ?= 0.5em 1em
// -----------------------------------------------------------------------------
//
// === use-buttons()
//
// Определяет минимальный класс `.button`, описывающий базовую геометрию и
// поведение кнопки. Класс не определяет какие-либо аспекты отображения кнопки.
//
// Использование макроса не является обязательным, в качестве альтернативы можно
// определить свой базовый класс кнопки, унаследовав его от базового класса
// `$buttons-button`.
//
// Использование:
//
// -----------------------------------------------------------------------------
// use-buttons()
// -----------------------------------------------------------------------------
//
// Реализация:
//
// -----------------------------------------------------------------------------
use-buttons()
  +media(any)
    .button
      @extend $buttons-button
// -----------------------------------------------------------------------------
//
//
// === $buttons-behavior
//
// Определяет поведение кнопки. Реализация:
//
// -----------------------------------------------------------------------------
$buttons-behavior
  display: inline-block
  *display: inline                                                      // <1>
  zoom: 1
  line-height: normal
  white-space: nowrap
  vertical-align: baseline
  text-align: center
  cursor: pointer
  -webkit-user-drag: none
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  &::-moz-focus-inner
    padding: 0                                                          // <2>
    border: 0
  &:focus
    outline: 0
// -----------------------------------------------------------------------------
//
// <1> проблемы в IE7
// <2> обрамление сфокусированного элемента в FF
//
//
// === $buttons-button
//
// Определяем абстрактный базовый класс кнопок. Для определения класса кнопки
// необходимо унаследовать его от этого базового класса:
//
// -----------------------------------------------------------------------------
// .button
//   @extend $buttons-button
//   background-color: gray
//   border-radius: 4px
// -----------------------------------------------------------------------------
//
// Исходя из дизайна, в производном классе может потребоваться определить
// следующие свойства:
//
// - `color` — цвета текста кнопки
// - `background` или `background-color` — фон кнопки
// - `border-radius` — радиус закругления кнопки
// - `border` — обрамление кнопки
//
// Реализация:
//
// -----------------------------------------------------------------------------
$buttons-button
  @extend $buttons-behavior
  font-family: inherit
  font-size: 100%
  *font-size: 90%                                                       // <1>
  *overflow: visible                                                    // <2>
  padding: buttons-padding
  text-decoration: none
// -----------------------------------------------------------------------------
//
// <1> избыточный размер кнопок в IE7
// <2> избыточный внутренний отступ для кнопок в IE7
//
//
// === buttons-shadow()
//
// Использование:
//
// -----------------------------------------------------------------------------
// .button:active
//   buttons-shadow: active
// -----------------------------------------------------------------------------
//
// Реализация:
//
// -----------------------------------------------------------------------------
buttons-shadow(type, shadow-size = 6px)
  if type == active
    return unquote('box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset')
  if type == default
    return unquote('0 0 ' + shadow-size + ' rgba(0,0,0, 0.20) inset')
// -----------------------------------------------------------------------------
//
