// == color
//
// Определяет стандартный контейнер для хранения палитры приложения.
//
// -----------------------------------------------------------------------------
colors ?= {}
// -----------------------------------------------------------------------------
//
