// == display
//
// Переопределение свойства display.
//
// По умолчанию поддержка IE отключена:
//
// -----------------------------------------------------------------------------
IE ?= false
// -----------------------------------------------------------------------------
//
// === display
//
// Добавляет IE хак для `display: inline-block`, если необходима поддержка IE.
//
// -----------------------------------------------------------------------------
display()
  type = shift(arguments)
  if type == inline-block && IE
    display: inline-block arguments
    *display: inline
    zoom: 1
  else
    display: type arguments
// -----------------------------------------------------------------------------
//
