// == fn
//
// Вспомогательные функциию и макросы.
//
// === fn-has-important
//
// -----------------------------------------------------------------------------
fn-has-important()
  if last(arguments) == !important
    return !important
  else
    return null
// -----------------------------------------------------------------------------
