// == forms
//
// Стилизация форм — сложная задача, визуально формы могут сильно отличаться
// между собой в различных проектах.
//
// Модуль не навязывает какое-либо стилистическое оформление форм, вместо этого
// он предлагает рекомендуемую структуру верстки формы и выставляет разумные
// значения по умолчанию, определяющие базовые метрики элементов.
//
// Модуль вводит следующие понятия, представленные абстрактными классами:
//
// - `$forms-form` — контейнер для элементов формы. Одна форма может содержать
//   один (простейший случай) или несколько (отдельно для каждой части формы)
//   таких контейнеров.
//
// - `$forms-input` — поле ввода формы. К полям ввода относятся элементы 
// `<input>` с соответствующим типом, `<textarea>` и `<select>`. Все эти
// элементы характеризуются общими настройками обрамления и поведения при
// попадании элемента в фокус.
//
// - `$forms-control` — элемент управления формы, как правило, включающий
// в себя элементы `<input>`. Наиболее распространенный пример — элементы
// управления `<checkbox>` и `radiobutton>`.
//
// - `$forms-label` — метка поля. С точки зрения верстки может быть реализована
// как непосредственно элементом `<label>`, так и контейнером, содержащим этот
// элемент (например, если `<label>` может быть многострочным).
//
// Для определения блочной структуры формы имеет смысл также определить класс
// `form-field`, работающий как контейнер для элементов управления и полей ввода
// формы и являющий блоком в системе блоков модуля `blocks`.
//
// Пример верстки формы:
//
// -----------------------------------------------------------------------------
// <div class="signup-form>
//   <div class="form form--aligned block-group">
//     <div class="form-label block"><label for="name">Your name:</label></div>
//     <div class="form-field block"><input id="name" type="text" class="form-input"></div>
//   </div>
//   <div class="form form--aligned block-group">
//     <div class="form-label block"><label for="email">Your email:</label></div>
//     <div class="form-field block"><input id="email" type="email" class="form-input"></div>
//   </div>
//   <div class="form form--stacked block-group">
//     <div class="form-label block"><label for="about">About you:</label></div>
//     <div class="form-field block"><textarea id="about"></textarea></div>
//   </div>
//   <div class="form form--stacked block-group">
//     <div class="form-field block">
//       <label class="form-control"><input type="checkbox" name="agree"> Yes, I agree</label>
//     </div>
//   </div>
// </div>
// -----------------------------------------------------------------------------
//
//
// === use-forms()
//
// Определяет минимальный набор базовых классов для работы с формами, наследуя
// от абстрактных классов.
//
// -----------------------------------------------------------------------------
use-forms()
  +media(any)
    .form
      @extend $forms-form

    .form-input
      @extend $forms-input

    .form-control
      @extend $forms-control

    .form-label
      @extend $forms-label
// -----------------------------------------------------------------------------
//
//
// === $forms-form
//
// Контейнер элементов формы. Предназначен для совместной работы с модулем
// `blocks`.
//
// -----------------------------------------------------------------------------
$forms-form
  select[multiple]
    height: auto
// -----------------------------------------------------------------------------
//
//
// === $forms-object
//
// Базовый класс элемента управления формы.
//
// -----------------------------------------------------------------------------
$forms-object
  display: inline-block                                                 // <1>
  box-sizing: border-box                                                // <2>
// -----------------------------------------------------------------------------
//
// <1> все элементы управления — `inline-block`
// <2> использование `box-sizing: border-box` упрощает стилизацию и устраняет
// несоответствия в размерах различных элементах между различными браузерами.
//
//
// === $forms-control
//
// Элемент управления формы.
//
// -----------------------------------------------------------------------------
$forms-control
  @extend $forms-object
  input
    vertical-align: baseline                                           // <1>
    display: inline-block
  &[disabled]
    -forms-disabled()
// -----------------------------------------------------------------------------
//
// <1> выравниваем по вертикали поля ввода внутри элемента управления.
//
// === $forms-input
//
// Поле ввода формы.
//
// -----------------------------------------------------------------------------
$forms-input
  @extend $forms-object

  input
  &.input
    &:focus
      outline: 0;
      outline: thin dotted \9; /* IE6-9 */
    &[disabled]
      -forms-disabled()

  input
    border: none
    background-color: inherit
// -----------------------------------------------------------------------------
//
//
// === $forms-label
//
// Метка поля формы.
//
// -----------------------------------------------------------------------------
$forms-label
  label
    vertical-align: middle                                              // <1>
    display: inline-block
// -----------------------------------------------------------------------------
//
// <1> если `<label>` внутри контейнера `form-label`, стараемся выровнять по
// вертикали независимо от количество строк в метке.
//
//
// === -forms-disabled()
//
// Вспомогательный макрос, настраивающий параметры отключенных элементов формы.
//
// -----------------------------------------------------------------------------
-forms-disabled()
  cursor: not-allowed
// -----------------------------------------------------------------------------
//
