// == height
//
// Переопределяет свойство `height`, добавляя поддержку в виде количества шагов.
//
// Зависимости:
//
// -----------------------------------------------------------------------------
@require 'fn'                                                         // <1>
@require 'size'                                                       // <2>
// -----------------------------------------------------------------------------
//
// <1> `fn-has-important`
// <2> `size`, `-size-steps-or-units()`
//
//
// === height
//
// Поддержка указания стандартного `height` в виде количества вертикальных
// шагов. В качестве дополнительного второго аргумента можно передать
// вычитаемую из результата поправку.
//
// -----------------------------------------------------------------------------
height(v, a = 0)
  if important = fn-has-important(arguments)
    _ = pop(arguments)
  v = shift(arguments)
  a = shift(arguments) || 0

  height: -size-steps-or-units(sizes.vertical-step, v, a) important
// -----------------------------------------------------------------------------
//
