// == icons
//
// Определяет стандартный способ использования иконных шрифтов.
//
// Зависимости:
//
// -----------------------------------------------------------------------------
@require 'font'                                                     // <1>
// -----------------------------------------------------------------------------
//
// <1> `use-font-face()`
//
// Элемент, отображающий шрифтовую иконку, должен содержать следующие атрибуты:
//
// - класс иконки для указания, что это элементы иконки (по умолчанию `icon`)
// - модификатор `icon--семейство-иконок` для привязки к конкретному иконному
//   шрифту, если используется несколько иконных шрифтов
// - `data-icon`, определяющий имя иконки.
//
// Например:
//
// -----------------------------------------------------------------------------
// <i class="icon icon--iconic" data-icon="save"></i>
// -----------------------------------------------------------------------------
//
// Имя класса иконок определяется переменной `icons-class`:
//
// -----------------------------------------------------------------------------
icons-class ?= 'icon'
// -----------------------------------------------------------------------------
//
// Модуль определяет стандартный контейнер для хранения определений наборов
// икон, если это необходимо.
//
// -----------------------------------------------------------------------------
icons ?= {}
// -----------------------------------------------------------------------------
//
//
// === use-icons()
//
// Генерирует определение базового класса иконки.
//
// -----------------------------------------------------------------------------
use-icons()
  .{icons-class}[data-icon]
    &:before
      position: relative
      top: 1px
      display: inline-block
      speak: none
      line-height: 1
      font-style: normal
      vertical-align: baseline
      -webkit-font-smoothing: antialiased
      -moz-osx-font-smoothing: grayscale
    &:empty:before
      width 1em
      text-align:center
      box-sizing: content-box

  for k,v in icons
    use-icons-from(v)
// -----------------------------------------------------------------------------
//
//
// === use-icons-from()
//
// Генерирует набор правил для отображения иконок определенного иконного шрифта.
//
// В случае, если хеш, определяющий набор иконок, содержит элемент `id`, его
// значение используется как модификатор стандартного класса иконки,
// определяемого переменной `icons-class`.
//
// -----------------------------------------------------------------------------
use-icons-from(set, icons...)
  class = 'icon'
  class += ('--' + set.id) if set.id

  if set.font-file
    use-font-face(set.font-family, set.font-file)

  .{class}
    font-family: set.font-family
  if icons
    for g in icons
      c = set.icons[g]
      .{class}[data-icon={g}]:before
        content: c
  else
    for g, c in set.icons
      .{class}[data-icon={g}]:before
        content: c
// -----------------------------------------------------------------------------
//
// === icons-text-replace()
//
// Скрывает текст элемента иконки.
//
// -----------------------------------------------------------------------------
icons-text-replace(enabled = true)
  if enabled
    font-size: 0
    line-height: 0
    &:before
      width: 1em
      text-align: center
// -----------------------------------------------------------------------------
//
