// = bare
//
// Минималистичный набор макросов для Stylus.
//
// -----------------------------------------------------------------------------
@require 'blocks'
@require 'buttons'
@require 'clearfix'
@require 'color'
@require 'css3'
@require 'display'
@require 'fn'
@require 'font'
@require 'forms'
@require 'height'
@require 'icons'
@require 'margin'
@require 'media'
@require 'mq'
@require 'normalize'
@require 'overflow'
@require 'padding'
@require 'position'
@require 'reset'
@require 'size'
@require 'text'
@require 'vendor'
@require 'width'
@require 'webfont'
// -----------------------------------------------------------------------------
//
// == index
//
// Загрузчик модулей библиотеки.
//
// === use-bare()
//
// Выполняет генерацию классов для модулей библиотеки.
//
// -----------------------------------------------------------------------------
use-bare()
  use-normalize()
  use-reset()
  use-blocks()
// -----------------------------------------------------------------------------
//
