// == margin
//
// Переопределяет свойства `margin`, добавляя поддержку размеров с
// использованием вертикального и горизонтального шагов.
//
// Зависимости:
//
// -----------------------------------------------------------------------------
@require 'fn'                                                         // <1>
@require 'size'                                                       // <2>
// -----------------------------------------------------------------------------
//
// <1> `fn-has-important()`
// <2> `size`, `-size-steps-or-units()`, `-size-offsets()`
//
//
// === margin-top
//
// Переопределяет `margin-top`, допуская использование количества вертикальных
// шагов `m` и поправки `a`.
//
// -----------------------------------------------------------------------------
margin-top(m, a = 0)
  if important = fn-has-important(arguments)
    _ = pop(arguments)
  v = shift(arguments)
  a = shift(arguments) || 0

  margin-top: -size-steps-or-units(sizes.vertical-step, v, a) important
// -----------------------------------------------------------------------------
//
//
// === margin-bottom
//
// Переопределяет `margin-bottom`, допуская использование количества
// вертикальных шагов `m` и поправки `a`.
//
// -----------------------------------------------------------------------------
margin-bottom(m, a = 0)
  if important = fn-has-important(arguments)
    _ = pop(arguments)
  v = shift(arguments)
  a = shift(arguments) || 0

  margin-bottom: -size-steps-or-units(sizes.vertical-step, v, a) important
// -----------------------------------------------------------------------------
//
//
// === margin-left
//
// Переопределяет `margin-left`, допуская использование количества
// горизонтальных шагов `m` и поправки `a`.
//
// -----------------------------------------------------------------------------
margin-left(m, a = 0)
  if important = fn-has-important(arguments)
    _ = pop(arguments)
  v = shift(arguments)
  a = shift(arguments) || 0

  margin-left: -size-steps-or-units(sizes.horizontal-step, v, a) important
// -----------------------------------------------------------------------------
//
//
// === margin-right
//
// Переопределяет `margin-right`, допуская использование количества
// горизонтальных шагов `m` и поправки `a`.
//
// -----------------------------------------------------------------------------
margin-right(m, a = 0)
  if important = fn-has-important(arguments)
    _ = pop(arguments)
  v = shift(arguments)
  a = shift(arguments) || 0

  margin-right: -size-steps-or-units(sizes.horizontal-step, v, a) important
// -----------------------------------------------------------------------------
//
//
// === margin
//
// Переопределяет `margin`, допуская использование количества горизонтальных
// и вертикальных шагов в случае, если не указана единица измерения.
//
// -----------------------------------------------------------------------------
margin()
  margin: -size-offsets(arguments)
// -----------------------------------------------------------------------------
//
