// == media
//
// Модуль позволяет определять код для различных медиа-вариантов. Он может быть
// использован для решения следующих задач:
//
// - определения кода медиа-вариантов;
// - генерация кода, относящегося к  медиа-варианту;
// - генерация кода для одного или нескольких legacy-браузеров.
//
// Модуль может работать в двух режимах:
//
// - режим непосредственной генерации сразу выводит генерируемый код
// - режим вывода медиа-варианта, выводит только код, соответствующий
//   запросу, указываемому переменной media-query.
//
// В первом случае генерируемый код содержит большое количество одинаковых
// инструкций `@media`, увеличивающих размер итогового CSS.
//
// Во втором случае код вообще не содержит инструкций `@media` и предназначен
// для включения в соответствующую инструкцию.
//
// === media-query
//
// Переменная `media-query` определяет медиа-запрос, используемый для генерации
// кода во втором варианте. Она может принимать следующие значения:
//
// - строка медиа-запроса — генерируется код, соответствующий запросу;
// - `false` — режим вывода медиа-варианта отключен;
// - `none`  - генерируется код, соответствующий.
//   определяемому переменной `media-legacy`.
//
// По умолчанию переменная имеет значение `false`:
//
// -----------------------------------------------------------------------------
media-query = false
// -----------------------------------------------------------------------------
//
// === media()
//
// В качестве аргумента получает строку media-query. Рекомендуется определять
// такие строки в виде переменных и передавать при вызове макроса переменную.
// Передаваемый в макрос блок кода определяет содержимое медиа-варианта.
//
// -----------------------------------------------------------------------------
media(query = any, legacy = false)
  if media-query != false                                             // <1>
    {block} if media-query == query or media-query == legacy
  else
    if query == any                                                   // <2>
      {block}
    else
      @media query
        {block}
// -----------------------------------------------------------------------------
//
// <1> если указан медиа-вариант для вывода, выводим только его
// <2> если указан вариант по умолчанию, просто выводим соответствующий код
//
