// == mq
//
// Определяет функции, упрощающие генерация условий media query. Помимо этого,
// определяет стандартный контейнер для декларирования media query, используемых
// приложением.
//
// -----------------------------------------------------------------------------
mq ?= {}
// -----------------------------------------------------------------------------
//
// Рекомендуется определяеть все медиа-запросы, используемые в приложении, путем
// создания элементов в хеше `mq` и в дальнейшем ссылаться на эти элементы. Это
// позволяет уменьшить количество переменных в глобальном пространстве имен и
// дает возможность итерирования по используемым медиа-запросам.
//
// Например:
//
// -----------------------------------------------------------------------------
//
// mq.desktop = mq-wider(1024px)                                    // <1>
//
// +media(mq.desktop)                                               // <2>
//   .menu
//     position: absolute
// -----------------------------------------------------------------------------
//
// <1> в конфигурации  приложения
// <2> в таблице стилей
//
// === mq-wider()
//
// Определяет медиа-запрос для screen, соответствующий ширине больше указанной.
// Если единицы измерения не указаны, используются пикселы.
//
// -----------------------------------------------------------------------------
mq-wider(l)
  return -mq-query('screen', 'min-width', l)
// -----------------------------------------------------------------------------
//
// === mq-narrower()
//
// Определяет медиа-запрос для screen, соответствующий ширине меньше указанной.
// Если единицы измерения не указаны, используются пикселы.
//
// -----------------------------------------------------------------------------
mq-narrower(l)
  return -mq-query('screen', 'max-width', l)
// -----------------------------------------------------------------------------
//
// === mq-longer()
//
// Определяет медиа-запрос для screen, соответствующий высоте больше указанной.
// Если единицы измерения не указаны, используются пикселы.
//
// -----------------------------------------------------------------------------
mq-longer(l)
  return -mq-query('screen', 'min-height', l)
// -----------------------------------------------------------------------------
//
// === mq-shorter()
//
// Определяет медиа-запрос для screen, соответствующий высоте меньше указанной.
// Если единицы измерения не указаны, используются пикселы.
//
// -----------------------------------------------------------------------------
mq-shorter(l)
  return -mq-query('screen', 'max-height', l)
// -----------------------------------------------------------------------------
//
// === -mq-query()
//
// Вспомогательная функция, генерирует условие media-query.
//
// -----------------------------------------------------------------------------
-mq-query(m, p, l)
  l = '' + l + 'px' if '' == unit(l)
  return m + ' and (' + p + ' : ' + l + ')'
// -----------------------------------------------------------------------------
//
