// == overflow
//
// Переопределяет свойство `overflow` для поддержки сокращенного текста 
//
// К стандартным значениям свойства добавляется значение `ellipsis`, приводящее
// к выводу сокращенного текста.
//
//
// === overflow()
//
// Переопределяет свойство CSS `overlow`.
//
// -----------------------------------------------------------------------------
overflow()
  if arguments[0] == ellipsis
    overflow: hidden
    text-overflow: ellipsis
  else
    overflow: arguments
// -----------------------------------------------------------------------------
//
