// == padding
//
// Переопределяет свойства `padding`, добавляя поддержку размеров с
// использованием вертикального и горизонтального шагов.
//
// Зависимости:
//
// -----------------------------------------------------------------------------
@require 'fn'                                                         // <1>
@require 'size'                                                       // <2>
// -----------------------------------------------------------------------------
//
// <1> `fn-has-important()`
// <2> `size`, `-size-steps-or-units()`, `-size-offsets()`
//
//
// === padding-top
//
// Переопределяет `padding-top`, допуская использование количества вертикальных
// шагов `p` и поправки `a`.
//
// -----------------------------------------------------------------------------
padding-top()
  if important = fn-has-important(arguments)
    _ = pop(arguments)
  v = shift(arguments)
  a = shift(arguments) || 0

  padding-top: -size-steps-or-units(sizes.vertical-step, v, a) important
// -----------------------------------------------------------------------------
//
//
// === padding-bottom
//
// Переопределяет `padding-bottom`, допуская использование количества
// вертикальных шагов `p` и поправки `a`.
//
// -----------------------------------------------------------------------------
padding-bottom()
  if important = fn-has-important(arguments)
    _ = pop(arguments)
  v = shift(arguments)
  a = shift(arguments) || 0

  padding-bottom: -size-steps-or-units(sizes.vertical-step, v, a) important
// -----------------------------------------------------------------------------
//
//
// === padding-left
//
// Переопределяет `padding-left`, допуская использование количества
// вертикальных шагов `p` и поправки `a`.
//
// -----------------------------------------------------------------------------
padding-left(p, a = 0)
  if important = fn-has-important(arguments)
    _ = pop(arguments)
  v = shift(arguments)
  a = shift(arguments) || 0

  padding-left: -size-steps-or-units(sizes.horizontal-step, v, a) important
// -----------------------------------------------------------------------------
//
//
// === padding-right
//
// Переопределяет `padding-right`, допуская использование количества
// вертикальных шагов `p` и поправки `a`.
//
// -----------------------------------------------------------------------------
padding-right(p, a = 0)
  if important = fn-has-important(arguments)
    _ = pop(arguments)
  v = shift(arguments)
  a = shift(arguments) || 0

  padding-right: -size-steps-or-units(sizes.horizontal-step, v, a) important
// -----------------------------------------------------------------------------
//
//
// === padding
//
// Переопределяет `padding`, допуская использование количества горизонтальных
// и вертикальных шагов в случае, если не указана единица измерения.
//
// -----------------------------------------------------------------------------
padding()
  padding: -size-offsets(arguments)
// -----------------------------------------------------------------------------
//
