// == reset
//
// Сброс стилей элементов.
//
// === use-reset()
//
// Выполняет сброс всех контентных элементов.
//
// -----------------------------------------------------------------------------
use-reset()
  article, aside, figcaption, figure, footer, header, hgroup, nav, section,
  details, summary, main, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
  pre, a, abbr, address, code, del, dfn, em, img, dl, dt, dd, ol, ul,
  li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr
    reset: box-model
  nav
    ol, ul
      reset: list
  h1,h2,h3,h4,h5,h6
    font-size: 100%
    font-weight: normal
// -----------------------------------------------------------------------------
//
// === reset()
//
// В зависимости от передаваемых параметров выполняет сброс отступов, списочного
// стиля или шрифтовы настроек.
//
// Пример использования:
//
// ul, li
//   reset: box-model list-style
//
// -----------------------------------------------------------------------------
reset()
  for a in arguments
    if a == box-model
      -reset-box-model()
    if a == list
      -reset-list()
    if a == font
      -reset-font()
// -----------------------------------------------------------------------------
//
//
// === -reset-box-model()
//
// Вспомогательный макрос, сбрасывает все отступы и обрамление в 0.
//
// -----------------------------------------------------------------------------
-reset-box-model()
  margin: 0
  padding: 0
  border: 0
  outline: 0
// -----------------------------------------------------------------------------
//
//
// === -reset-list()
//
// Вспомогательный макрос, сбрасывает стили списка.
//
// -----------------------------------------------------------------------------
-reset-list()
  list-style: none
// -----------------------------------------------------------------------------
//
//
// === -reset-font()
//
// Вспомогательный макрос, сбрасывает шрифтовые стили.
//
// -----------------------------------------------------------------------------
-reset-font()
  font-weight: inherit
  font-style: inherit
  font-family: inherit
  font-size: 100%
  vertical-align: baseline
// -----------------------------------------------------------------------------
//
