// == size
//
// Модуль позволяет использовать фиксированный шаг для задания вертикальных и
// горизонтальных размеров и отступов. Использование стандартного вертикального
// шага, в частности, способствует выдерживанию 
//
// Зависимости:
//
// -----------------------------------------------------------------------------
@require 'fn'                                                         // <1>
// -----------------------------------------------------------------------------
//
// <1> `fn-has-important()`
//
// Модуль определяет стандартный контейнер `sizes`, предназначенный для
// определения размерных констант. Модель определяет две стандартные константы:
//
// -----------------------------------------------------------------------------
sizes = {
  vertical-step: 8px,                                                   // <1>
  horizontal-step: 10px                                                 // <2>
}
// -----------------------------------------------------------------------------
//
// <1> вертикальный базовый шаг
// <2> горизонтальный базовый шаг
//
//
//
// === size-vertical()
//
// Вычисляет вертикальный размер по переданному количеству шагов `n` и поправке
// `a`. Если в качестве количества шагов передано значение с единицей измерения,
// просто возвращает это значение.
//
// -----------------------------------------------------------------------------
size-vertical(n, a = 0)
  return -size-steps-or-units(sizes.vertical-step, n, a)
// -----------------------------------------------------------------------------
//
//
// === size-horizontal()
//
// Вычисляет горизонтальный размер по переданному количеству шагов `n` и поправке
// `a`. Если в качестве количества шагов передано значение с единицей измерения,
// просто возвращает это значение.
//
// -----------------------------------------------------------------------------
size-horizontal(n, a = 0)
  return -size-steps-or-units(sizes.vertical-step, n, a)
// -----------------------------------------------------------------------------
//
// === -size-steps-or-units()
//
// Вычисляет смещение на основании величины шага `s`, количества шагов `n` и 
// поправки `a`. В отличие от функции `-step-size()` допускает передачу в
// качестве аргумента `n` явного размера в какой-либо единице измерения. В этом
// случае расчет не производится и функции просто возвращает это значение.
//
// -----------------------------------------------------------------------------
-size-steps-or-units(s, n, a = 0)
  if n == auto || n == 0
    return n
  else
    if '' == unit(n)
      if a != 0
        return s*n - a
      else
        return s*n
    else
      return n
// -----------------------------------------------------------------------------
//
// === -size-offsets()
//
// Заменяет количество шагов в наборе отступов на соответствующие вертикальные
// или горизонтальные размеры.
//
// Функция не допускает указания поправок для сохранения совместимости со
// стандартным CSS.
//
// -----------------------------------------------------------------------------
-size-offsets()
  r = unquote('')
  if important = fn-has-important(arguments)
    _ = pop(arguments)

  for n, i in arguments
    if n == !important
      push r n
    else
      if i == 0 or i == 2
        push(r, -size-steps-or-units(sizes.vertical-step, n))
      else
        push(r, -size-steps-or-units(sizes.horizontal-step, n))

  return r important
// -----------------------------------------------------------------------------
