// == text
//
// Реализует настройку геометрии текстовых элементов с помощью так называемых
// текстовых стилей — предопределенных наборов свойств текста.
//
// Текстовый стиль представляет собой хэш-переменную, содержащую следующие
// элементы:
//
// - `font-family`  — семейство шрифтов
// - `font-size`    — размер шрифта
// - `line-height`  — высота строки шрифта
// - `font-style`   — стиль шрифта (опционально)
// - `font-variant` — вариант шрифта (опционально)
//
// Настройка типографики элементов с помощью набора предопределенных стилей,
// высота строки в которых кратна выбранному вертикальному шагу, обеспечивает
// простой и удобный способ поддержки общего вертикального ритма страницы.
//
// Модуль определяет стандартный контейнер для текстовых стилей, `text`.
//
// -----------------------------------------------------------------------------
text ?= {}
// -----------------------------------------------------------------------------
//
// Пример определения стиля:
//
// -----------------------------------------------------------------------------
// text.sans-normal = {
//   font-family: sans-serif,
//   font-size:   16px,
//   line-height: 24px
// }
// -----------------------------------------------------------------------------
//
// === text-style()
//
// Применяет настройки текстового стиля к элементу.
//
// В качестве параметра `style` должна быть передана хэш-переменная,
// соответствующая описанию стиля. Высота строки `line-height` при
// необходимости может быть явно переопределена путем указания второго параметра
// `lh`.
// 
//
// Пример использования:
//
// -----------------------------------------------------------------------------
// .content h2
//   text-style: text.sans-large
// .button
//   text-style: text.sans-normal 4
// -----------------------------------------------------------------------------
//
// Реализация:
//
// -----------------------------------------------------------------------------
text-style(style, lh = 0)
  font-family:  style.font-family  if style.font-family
  text-metrics: style lh
// -----------------------------------------------------------------------------
//
//
// === text-style-metrics()
//
// Макро аналогично `text-style()`, но применяет только настройки, связанные с
// метрикой текста: `font-size` и `line-height`. Таким образом, можно избежать
// излишнего указания семейства шрифтов, наследуя его от родительского элемента.
//
// -----------------------------------------------------------------------------
text-metrics(style, lh = 0)
  font-size:   style.font-size    if style.font-size
  if (lh)
    line-height: lh
  else
    line-height: style.line-height if style.line-height
  font-style:   style.font-style   if style.font-style
  font-weight:  style.font-weight  if style.font-weight
  font-variant: style.font-variant if style.font-variant
  text-transform: style.text-transform if style.text-transform
  letter-spacing: style.letter-spacing if style.letter-spacing
// -----------------------------------------------------------------------------
//
//
// === text-hidden()
//
// Скрывает текстовое содержимое элемента.
//
// -----------------------------------------------------------------------------
text-hide(enabled = true)
  if enabled
    position: absolute
    overflow: hidden
    width: 1px
    height: 1px
    border: 0
    margin: -1px
    padding: 0
    clip: rect(0 0 0 0)
// -----------------------------------------------------------------------------
//
