// Упрощенная работа с веб-шифтами.
//
// Зависимости:
//
// -----------------------------------------------------------------------------
@require 'font'                                                         // <1>
// -----------------------------------------------------------------------------
//
// <1> `use-font-face()`
//
// -----------------------------------------------------------------------------
webfonts ?= {}
// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------
use-webfonts()
  for k,v in webfonts
    use-webfont(v)
// -----------------------------------------------------------------------------
//
use-webfont(f)
  font-family = f.font-family
  font-file = f.font-file
  font-style = f.font-style || 'normal'
  font-weight = f.font-weight || 400
  use-font-face(font-family, font-file, font-style, font-weight)
