// == width
//
// Переопределяет свойство `width`, добавляя поддержку в виде количества шагов.
//
// Зависимости:
//
// -----------------------------------------------------------------------------
@require 'fn'                                                         // <1>
@require 'size'                                                       // <2>
// -----------------------------------------------------------------------------
//
// <1> `fn-has-important`
// <2> `size`, `-size-steps-or-units()`
//
//
// === width
//
// Поддержка указания стандартного `width` в виде количества горизонтальных
// шагов. В качестве дополнительного второго аргумента можно передать
// вычитаемую из результата поправку.
//
// -----------------------------------------------------------------------------
width(v, a = 0)
  if important = fn-has-important(arguments)
    _ = pop(arguments)
  v = shift(arguments)
  a = shift(arguments) || 0

  width: -size-steps-or-units(sizes.horizontal-step, v, a) important
// -----------------------------------------------------------------------------
//
