@require "./lib/index"
@require "site/settings"

use-bare()
use-webfonts()

mq.largeDesktop = mq-narrower(1400px)
mq.desktop = mq-narrower(1200px)
mq.tablet = mq-narrower(980px)
mq.phone = mq-narrower(765px)

@require "site/index"