+media(any)

  *
    outline: none

  body
    text-style: text.sans-body
    background: #fff

  a
    color: colors.link
    &:hover
      text-decoration: none

  body, html
    height: 100%

  .wrapper
    min-height: 100%

  .grid:before
    content: ""
    width: 1350px
    margin: auto
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: 99999
    background: linear-gradient(left, rgba(colors.grid, .1) 85px, transparent 85px)
    background-size: 115px
    pointer-events: none
    +media(mq.largeDesktop)
      width: 1170px
      background: linear-gradient(left, rgba(colors.grid, .1) 70px, transparent 70px)
      background-size: 100px
    +media(mq.desktop)
      width: 940px
      background: linear-gradient(left, rgba(colors.grid, .1) 60px, transparent 60px)
      background-size: 80px
    +media(mq.tablet)
      width: 720px
      background: linear-gradient(left, rgba(colors.grid, .1) 38px, transparent 38px)
      background-size: 62px
    +media(mq.phone)
      width: 90%
      background: linear-gradient(left, rgba(colors.grid, .1) 90%, transparent 90%)
      background-size: 52.9%

  .page
    width: 1350px
    centered: true
    padding: 0 20px
    +media(mq.largeDesktop)
      width: 1170px
    +media(mq.desktop)
      width: 940px
    +media(mq.tablet)
      width: 720px
    +media(mq.phone)
      width: 100%
      box-sizing: border-box