//Размеры
sizes.vertical-step = 9px  // вертикальный ритм

//Палитра
colors.default = #000      // Черный
colors.white   = #fff      // Белый
colors.text    = #000      // Черный
colors.link    = #0FB7FF   // Синий
colors.foot    = #f6f6f6   // Серый
colors.grid    = #000      // Черный

// Шрифтовые стили
fonts.pt-sans = font-stack("PT Sans", sans-serif)
fonts.exo     = font-stack("Exo", sans-serif)

text.sans-body = {
  font-family: fonts.pt-sans,
  font-size: 14px,
  line-height: 17px
}

// PT Sans
webfonts.pt-sans-regular = {
  font-family: "PT Sans",
  font-file: "ptsans/ptsans.%s",
  font-style: normal,
  font-weight: normal
}

webfonts.pt-sans-bold = {
  font-family: "PT Sans",
  font-file: "ptsans/ptsansbold.%s",
  font-style: normal,
  font-weight: bold
}

// EXO
webfonts.exo-regular = {
  font-family: "Exo",
  font-file: "exo/exo.%s",
  font-style: normal,
  font-weight: normal
}

webfonts.exo-bold = {
  font-family: "Exo",
  font-file: "exo/exobold.%s",
  font-style: normal,
  font-weight: bold
}

webfonts.exo-light = {
  font-family: "Exo",
  font-file: "exo/exolight.%s",
  font-style: normal,
  font-weight: 300
}